# Node.js 관련
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# 환경 설정 파일
.env
.env.local
.env.*.local

# logs
logs
*.log
*.log.*
log/

# OS 관련
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sw?

# Docker
docker-compose.override.yml
**/tmp/
**/.docker/

# Python (chatbot)
__pycache__/
*.py[cod]
*.egg
*.egg-info/
pip-log.txt
venv/
.envrc

# Git 자체
.git/

# 기타
coverage/
*.sqlite3